@if (step==1) {
<section class="w-3/4 m-auto dark:bg-[#3D4145] bg-[#F0F0F0]">
  <h1 class="h1 fa-2x text-center pt-5 dark:text-text2-dark mb-2">
    Forget Password
  </h1>

  <form
    [formGroup]="verifyEmailForm"
    (ngSubmit)="submitVarifyEmail()"
    class="mx-3 pb-5"
  >
    <div class="mb-3">
      <input
        formControlName="email"
        type="email"
        id="email"
        class="block w-full p-2.5 rounded-lg border shadow-sm text-sm dark:bg-[#272B30] dark:border-[#32383E] dark:placeholder:text-text2-dark dark:text-text2-dark dark:focus:border-[#304C72] dark:focus:ring-border1-dark dark:focus:border-[3px] bg-[white] border-[#cfcfcf] focus:border-[#B7D0F3] focus:ring-[#B7D0F3] focus:border-[2px]"
        placeholder="Email"
      />

      @let email= verifyEmailForm.get('email'); @if
      (email?.errors&&email?.touched) {

      <div
        class="flex p-2 mb-4 text-sm text-[#991B1B] rounded-lg bg-[#FEF2F2] dark:bg-[#1F2937] dark:text-[#F87171]"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (email?.getError('required')) {
            <li>Email ia required</li>
            } @else if (email?.getError('email')) {
            <li>invaild email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <button
      [disabled]="isLoading()"
      type="submit"
      class="text-text2-dark bg-btn hover:bg-Hoverbtn dark:bg-[#1C8ADB] dark:hover:bg-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-[.5s]"
    >
      Verify Email @if (isLoading()) {
      <i class="fas fa-spin fa-spinner"></i>
      }
    </button>

    @if (isSuccess()) {
    <p
      class="bg-[#1C8ADB] rounded-lg my-1 text-sm text-text2-dark px-2 py-2 text-center"
    >
      {{ isSuccess() }}
    </p>
    } @if (msgErorr()) {
    <p
      class="px-2 py-2 text-center text-sm text-[#991B1B] rounded-lg bg-[#FEF2F2] dark:bg-[#1F2937] dark:text-[#F87171]"
    >
      {{ msgErorr() }}
    </p>
    }
  </form>
</section>
}@else if (step==2) {
<section class="w-3/4 m-auto dark:bg-[#3D4145] bg-[#F0F0F0]">
  <h1 class="h1 fa-2x text-center pt-5 dark:text-text2-dark mb-2">
    Reset Code
  </h1>

  <form
    [formGroup]="verifyCodeForm"
    (ngSubmit)="submitVarifyCode()"
    class="mx-3 pb-5"
  >
    <div class="mb-3">
      <input
        formControlName="resetCode"
        type="text"
        id="code"
        class="block w-full p-2.5 rounded-lg border shadow-sm text-sm dark:bg-[#272B30] dark:border-[#32383E] dark:placeholder:text-text2-dark dark:text-text2-dark dark:focus:border-[#304C72] dark:focus:ring-border1-dark dark:focus:border-[3px] bg-[white] border-[#cfcfcf] focus:border-[#B7D0F3] focus:ring-[#B7D0F3] focus:border-[2px]"
        placeholder="reset Code"
      />

      @let code= verifyEmailForm.get('resetCode'); @if
      (code?.errors&&code?.touched) {

      <div
        class="flex p-2 mb-4 text-sm text-[#991B1B] rounded-lg bg-[#FEF2F2] dark:bg-[#1F2937] dark:text-[#F87171]"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (code?.getError('required')) {
            <li>code ia required</li>
            } @else if (code?.getError('pattern')) {
            <li>invaild code</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <button
      [disabled]="isLoading()"
      type="submit"
      class="text-text2-dark bg-btn hover:bg-Hoverbtn dark:bg-[#1C8ADB] dark:hover:bg-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-[.5s]"
    >
      Verify Code @if (isLoading()) {
      <i class="fas fa-spin fa-spinner"></i>
      }
    </button>

    @if (isSuccess()) {
    <p
      class="bg-[#1C8ADB] rounded-lg my-1 text-sm text-text2-dark px-2 py-2 text-center"
    >
      {{ isSuccess() }}
    </p>
    } @if (msgErorr()) {
    <p
      class="px-2 py-2 text-center text-sm text-[#991B1B] rounded-lg bg-[#FEF2F2] dark:bg-[#1F2937] dark:text-[#F87171]"
    >
      {{ msgErorr() }}
    </p>
    }
  </form>
</section>
}@else if (step==3) {
<section class="w-3/4 m-auto dark:bg-[#3D4145] bg-[#F0F0F0]">
  <h1 class="h1 fa-2x text-center pt-5 dark:text-text2-dark mb-2">
    Reset Password
  </h1>

  <form
    class="mx-3 pb-5"
    [formGroup]="rePassForm"
    (ngSubmit)="submitVarifyPass()"
  >
    <div class="mb-3">
      <input
        readonly
        formControlName="email"
        type="email"
        id="email"
        class="block w-full p-2.5 rounded-lg border shadow-sm text-sm dark:bg-[#272B30] dark:border-[#32383E] dark:placeholder:text-text2-dark dark:text-text2-dark dark:focus:border-[#304C72] dark:focus:ring-border1-dark dark:focus:border-[3px] bg-[white] border-[#cfcfcf] focus:border-[#B7D0F3] focus:ring-[#B7D0F3] focus:border-[2px]"
        placeholder="Email"
      />
      @let Email=rePassForm.get('email'); @if (Email?.errors&&Email?.touched) {
      <div
        class="flex p-2 mb-4 text-sm text-[#991B1B] rounded-lg bg-[#FEF2F2] dark:bg-[#1F2937] dark:text-[#F87171]"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (Email?.getError('required')) {
            <li>Email ia required</li>
            } @else if (Email?.getError('email')) {
            <li>invaild email</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="mb-3">
      <input
        formControlName="newPassword"
        type="password"
        id="password"
        class="block w-full p-2.5 rounded-lg border shadow-sm text-sm dark:bg-[#272B30] dark:border-[#32383E] dark:placeholder:text-text2-dark dark:text-text2-dark dark:focus:border-[#304C72] dark:focus:ring-border1-dark dark:focus:border-[3px] bg-[white] border-[#cfcfcf] focus:border-[#B7D0F3] focus:ring-[#B7D0F3] focus:border-[2px]"
        placeholder="Password"
      />

      @let Password=rePassForm.get('newPassword'); @if
      (Password?.errors&&Password?.touched) {
      <div
        class="flex p-2 mb-4 text-sm text-[#991B1B] rounded-lg bg-[#FEF2F2] dark:bg-[#1F2937] dark:text-[#F87171]"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (Password?.getError('required')) {
            <li>Password ia required</li>
            } @else if (Password?.getError('pattern')) {
            <li>invaild Password</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="">
      <button
        [disabled]="isLoading()"
        type="submit"
        class="text-text2-dark bg-btn hover:bg-Hoverbtn dark:bg-[#1C8ADB] dark:hover:bg-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-[.5s]"
      >
        Send @if (isLoading()) {
        <i class="fas fa-spin fa-spinner"></i>
        }
      </button>
      @if (isSuccess()) {
      <p
        class="bg-[#1C8ADB] rounded-lg my-1 text-sm text-text2-dark px-2 py-2 text-center"
      >
        {{ isSuccess() }}
      </p>
      } @if (msgErorr()) {
      <p
        class="px-2 py-2 text-center text-sm text-[#991B1B] rounded-lg bg-[#FEF2F2] dark:bg-[#1F2937] dark:text-[#F87171]"
      >
        {{ msgErorr() }}
      </p>
      }
    </div>
  </form>
</section>

}
