<footer>
    <div class=" sm:p-2 md:p-3 lg:p-3 xl:p-4  bg-primary  dark:bg-primary-dark text-center">

       <div class="p-3 fa-4x">
            <i class="fa-solid fa-cart-shopping  " style="color: #1C8ADB;"></i>
          </div>
          <div class="p-2 lg:p-3  dark:text-text2">
              <span>Copyright 2024. All rights reserved.</span>
          </div>
          <div class=" flex justify-center gap-x-6  fa-2x p-2 lg:p-3 dark:text-text2">
            <a class="" href="#"><span><i class="fa-brands fa-facebook"></i></span></a>
            <a href="#"><span><i class="fa-brands fa-instagram"></i></span></a>
            <a href="#"><span><i class="fa-brands fa-twitter"></i></span></a>
          </div>

    </div>
</footer>





